*{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    margin: 0 auto;
    width: 80%;
    border: 1px solid gray;
}

div{
    display: inline-block;
    width: 380px;
    height: 450px;
    
   margin: 0 auto;
   margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
box-shadow: 3px 3px 0px 0px blue;
    background-color: gainsboro;
   
}



.imagen{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    filter: drop-shadow(-20px 0px 3px white);
}