*{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    margin: 0 auto;
    width: 90%;
    border: 5px solid black;
    background-color: aquamarine;
}

div{
    display: inline-block;
    width: 380px;
    height: auto;
   margin: 0 auto;
   margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
box-shadow: 3px 3px 0px 0px blue;
    background-color: gainsboro;
   
}



.imagen{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    filter: drop-shadow(-20px 0px 3px white);
    
}



.imagen:hover{
    transform: scale(1.5);
    filter: drop-shadow(10px 20px 2px yellow);
}